In [1]:
import pandas as pd
from utils import connection as con # de la carpeta utils, importar el archivo connection

In [2]:
conn_retail_db = con.connect_retail_db()
conn_dw_retail = con.connect_dw_retail()

In [3]:
# Customers
# orders
# order_item
# products
# categories
# departments

In [4]:
from etl import extract as ex

In [5]:
df_customers = ex.extract_table("customers", conn_retail_db)
df_customers.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725

In [6]:
df_orders = ex.extract_table("orders", conn_retail_db)
df_orders_items = ex.extract_table("order_items", conn_retail_db)
df_products = ex.extract_table("products", conn_retail_db)
df_categories = ex.extract_table("categories", conn_retail_db)
df_departments = ex.extract_table("departments", conn_retail_db)

In [7]:
from etl import load

In [8]:
load.load_dw_retail('dimension_customer', conn_dw_retail, df_customers)

In [12]:
load.load_dw_retail('dimension_department', conn_dw_retail, df_departments)

In [14]:
load.load_dw_retail('dimension_category', conn_dw_retail, df_categories)

In [15]:
load.load_dw_retail('dimension_product', conn_dw_retail, df_products)

In [16]:
load.load_dw_retail('dimension_order', conn_dw_retail, df_orders)

In [18]:
load.load_dw_retail('dimension_oder_item', conn_dw_retail, df_orders_items)

In [1]:
from etl import transform as t